<!-- // DATASHARE - start -->
<div [title]="'nav.search' | translate">
  <div class="d-inline-block position-relative">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" autocomplete="on" class="d-flex">
      <input #searchInput [@toggleAnimation]="'expanded'" [attr.aria-label]="('nav.search' | translate)" name="query"
             formControlName="query" type="text" placeholder="{{true ? ('nav.search' | translate) : ''}}"
             class="position-absolute form-control dropdown-menu-right pl-1 pr-4"
             [class.display]="true ? 'inline-block' : 'none'"
             [tabIndex]="true ? 0 : -1"
             [attr.data-test]="'true' | dsBrowserOnly">
      <button class="submit-icon btn btn-link btn-link-inline" [attr.aria-label]="'nav.search.button' | translate" type="button" (click)="true ? onSubmit(searchForm.value) : expand()" [attr.data-test]="'header-search-icon' | dsBrowserOnly" role="button" tabindex="0">
        <span class="search-icon"></span>
      </button>
    </form>
  </div>
</div>
<!-- // DATASHARE - end -->