:host {
  footer {
    // background-color: var(--ds-footer-bg);
    background-color: #4a4a4a;
    text-align: center;
    z-index: var(--ds-footer-z-index);
    border-top: var(--ds-footer-border);
    padding: var(--ds-footer-padding);

    .uoe-banner {
      padding-top: 0.5rem;
      background-color: #000;
      color: white;
      height: 3rem;
    }

    .uoe-banner-link {
      color: #607890;
      font-size: 1.2rem;
    }

    p {
      margin: 0;
    }

    div>img {
      height: var(--ds-footer-logo-height);
    }


    .top-footer {
      // background-color: var(--ds-top-footer-bg);
      background-color: #000;
      padding: var(--ds-footer-padding);
      margin: calc(var(--ds-footer-padding) * -1);
    }

    .bottom-footer {
      ul {
        li {
          display: inline-flex;

          a {
            padding: 0 calc(var(--bs-spacer) / 2);
            color: inherit
          }

          &:not(:last-child) {
            &:after {
              content: '';
              border-right: 1px var(--bs-secondary) solid;
            }

          }
        }
      }
    }

    .core-trust-seal-logo {
      height: 6rem;
    }

  }
}
