<footer class="text-lg-start">

  <div class="uoe-banner container-fluid">
    <div class="container">
      <div class="d-flex flex-row justify-content-end">
        <div class="col-md-12">
          <a href="http://www.ed.ac.uk/" target="_blank" class="uoe-banner-link float-left">THE UNIVERSITY OF
            EDINBURGH</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-3">
    <div class="container">
      <!-- <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container d-flex flex-row"> -->
      <div class="row">
        <div class="col-4">
          <div class="row footer-info list-unstyled small d-flex justify-content-center mb-0">
            <div class="col">
              <a class="text-white" routerLink="/info/accessibility">Accessibility</a>
            </div>
            <div class="col">
              <a class="text-white" target="_blank"
                href="https://www.ed.ac.uk/information-services/research-support/data-library/contact-us">Contact Us</a>
            </div>
          </div>
          <div class="row footer-info list-unstyled small d-flex justify-content-center mb-0">
            <div class="col">
              <a class="text-white" target="_blank" href="https://www.ed.ac.uk/about/website/privacy">Cookies</a>
            </div>
            <div class="col">
              <a class="text-white" target="_blank"
                href="https://www.ed.ac.uk/information-services/research-support/data-library/data-repository/service-policies/service-level-definition">Service
                Level Definition</a>
            </div>
          </div>
          <div class="row footer-info list-unstyled small d-flex justify-content-center mb-0">
            <div class="col">
              <a class="text-white" target="_blank"
                href="https://www.ed.ac.uk/information-services/research-support/research-data-service/after/data-repository/service-policies/privacy-notice">Datashare
                Privacy Notice</a>
            </div>

            <div class="col">
              <a class="text-white" target="_blank"
                href="https://www.ed.ac.uk/about/website/freedom-information">Freedom of Information</a>
            </div>
          </div>
        </div>
        <div class="col-7 small text-white">
          <p class="text-left">
            The University of Edinburgh is a charitable body, registered in
            Scotland, with registration number SC005336, VAT Registration Number
            GB 592 9507 00, and is acknowledged by the UK authorities as a
            "Recognised body" which has been granted degree awarding powers.
          </p>
        </div>
        <a class="col" href="https://www.coretrustseal.org/maps/fullscreen/10/?marker=366">
          <img class="img-fluid core-trust-seal-logo" src="/assets/datashare/images/CoreTrustSeal-logo.svg"
            [attr.alt]="'coretrustseal.footer.image.logo' | translate" />
        </a>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
