.scope-button {
  color: var(--datashare-blue-muted) !important;
  background-color: #fff !important;
  margin-right: 1rem !important;
}

.search-button.btn {
  background-color: #fff !important;
  padding: .1rem !important;
  border-left: none !important;
}


.search-icon {
  background-image: url('/assets/datashare/images/search.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; // Explicitly set to transparent
  width: 1.2rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  filter: brightness(0) saturate(100%) invert(30%);
}
