:host {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-item {
        padding-left: 20px;
    }

    #paginationControls.btn ::ng-deep {
        line-height: 1 !important;
    }
}
