<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h2>What is Edinburgh DataShare?</h2>

        <p>
          Edinburgh DataShare is a digital repository of research data produced
          at the University of Edinburgh, hosted by the Research Data Service in
          Information Services. Edinburgh University researchers who have
          produced research data associated with an existing or forthcoming
          publication, or which has potential use for other researchers, are
          invited to upload their dataset for sharing and safekeeping. A
          persistent identifier and suggested citation will be provided.
        </p>

        <h2>Deposit Your Data</h2>

        <ul>
          <li>
            <a
              href="http://www.ed.ac.uk/schools-departments/information-services/research-support/data-library/data-repository/how-to-deposit"
              target="_blank"
            >
              How to deposit
            </a>
          </li>

          <li>
            <a
              href="http://www.ed.ac.uk/schools-departments/information-services/research-support/data-library/data-repository/checklist"
              target="_blank"
            >
              Checklist for deposit
            </a>
          </li>

          <li>
            <a
              href="http://www.ed.ac.uk/schools-departments/information-services/research-support/data-library/data-repository/benefits"
              target="_blank"
            >
              Benefits of deposit and alignment with University Research Data
              Management Policy
            </a>
          </li>
        </ul>

        <h2>About Edinburgh DataShare</h2>
        <ul>
          <li>
            <a
              href="http://www.ed.ac.uk/schools-departments/information-services/research-support/data-library/data-repository/definitions"
              target="_blank"
            >
              Our definitions
            </a>
          </li>
          <li>
            <a
              href="http://www.ed.ac.uk/schools-departments/information-services/research-support/data-library/data-repository/service-policies"
              target="_blank"
            >
              Service policies
            </a>
          </li>

          <li>
            <a
              href=" https://www.ed.ac.uk/information-services/research-support/research-data-service/after/data-repository/trustworthy-digital-repository"
              target="_blank"
            >
              Trustworthy digital repository
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
