@import '../../../styles/_global-styles.scss';

// Add any global css for the theme here
body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 120%;
    color: $body-color;
    background-color: $body-bg;
}

.main-content {
    background-size: 35%;
    margin-top: 0px !important;
    margin-bottom: -5px !important;
    padding-top: var(--ds-content-spacing);
}

.main-content-lower {
    background-size: 45%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 5.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 span {

    border-bottom: none !important;
}

h2.no-bottom-border {
    border-bottom: none !important;
}

h1,
.h1 {
    font-size: $h1-font-size;
}

h2,
.h2 {
    font-size: $h2-font-size;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

a {
    color: #{$link-color};
}

a:hover {
    color: #{$link-hover-color};
}

i.fas.fa-globe-asia.fa-lg.fa-fw {
    color: #fff;
}

.admin-menu-header h4 {
    color: #fff;
    border-bottom: none !important;
}

.pin-sidebar {
    color: #ffffff80;
}

.lead {
    font-size: 1.5rem;
}

.nav-breadcrumb,
.breadcrumb {
    background-color: #fff !important;
}

.breadcrumb {
    padding: 0px;
    list-style: none !important;
}

li.breadcrumb-item {
    padding: 0.75rem 1rem;
    border-bottom: 4px solid #fff;
}

li.breadcrumb-item.active {
    border-bottom: 4px solid var(--datashare-button-brand-primary) !important;
    background-color: #f9f9f9 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "" !important;
}

.text-truncate {
    color: #3a3a3a !important;
    font-size: 1.1rem;
    font-weight: 400;
}

li.breadcrumb-item:hover {
    border-bottom: 4px solid var(--datashare-button-brand-primary);
    background-color: #f9f9f9;
}

li.breadcrumb-item:hover a.text-truncate {
    text-decoration: none;
    color: var(--datashare-button-brand-primary) !important;
}

li[ds-navbar-section] {
    ds-link-menu-item {
        --ds-navbar-link-color: white;
        --ds-navbar-link-color-hover: white;
    }
}

.btn-primary,
.btn-secondary,
button.btn.btn-lg.btn-primary.btn-block {
    color: var(--datashare-button-brand-primary);
    background-color: var(--datashare-button-brand-primary-bg);
    border-color: var(--datashare-button-brand-primary-border);
    text-decoration: none; 

    &:hover,
    &:active {
        background-color: var(--datashare-brand-button-primary-hover-active-bg);
        border-color: var(--datashare-buttonbrand-button-primary-hover-active-border);
        text-decoration: underline;
    }

    &:focus {
        background-color: var(-datashare-brand-button-primary-focus-bg);
        border-color: var(-datashare-brand-button-primary-focus-border);
        text-decoration: underline;
    }
}

button#save span,
button#saveForLater span,
button#deposit span {
    color: #fff;
}


a.btn.btn-outline-primary {
    background-color: #fff;
    color: #3a3a3a !important;
}

i.fas.fa-info-circle {
    color: #3a3a3a !important;
}

.btn-outline-secondary:hover,
a.btn.btn-outline-primary:hover {
    color: var(--datashare-button-brand-primary) !important;
    background-color: #fff9fd;
    text-decoration: underline !important;
}

a.btn.btn-outline-primary:hover i.fas.fa-info-circle {
    color: var(--datashare-button-brand-primary) !important;
}

.form-control {
    color: var(--datashare-button-brand-primary) !important;
}

.facet-filter,
.setting-option {
    background-color: #fff !important;
    border: 1px solid var(--datashare-button-brand-primary) !important;
}

.filters .toggle-more-filters a,
.filter-value {
    color: var(--datashare-button-brand-primary) !important;
    text-decoration: none !important;
}

.filters .toggle-more-filters a:hover,
.filter-value:hover {
    color: var(--datashare-button-brand-primary) !important;
    text-decoration: underline !important;
}

.dropdownLogin {
    text-decoration: none !important;
}

.dropdown-item {
    color: var(--datashare-button-brand-primary);
}

.dropdown-item:hover,
.dropdown-item:focus {
    // color: var(--datashare-button-brand-primary);
    text-decoration: underline;
    background-color: #FFF;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #f9f9f9 !important;
    // color: var(--datashare-button-brand-primary) !important;
}

.page-link {
    color: var(--datashare-button-brand-primary);
}

.page-item.active .page-link {
    // background-color: var(--datashare-button-brand-primary) !important;
    // border-color: var(--datashare-button-brand-primary) !important;
    color: var(--datashare-button-brand-primary) !important;
}

// .badge-info,
// .badge-secondary {
//     background-color: var(--datashare-button-brand-primary);
// }

// .item-page-title-field span {
//     // color: var(--datashare-button-brand-primary);
// }

.navbar-header {
    border-bottom: 0px;
}

.nav-item .nav-link,
.nav-item .nav-link span {
    color: var(--datashare-button-brand-primary);
}

.dropdown-toggle::after {
    color: var(--datashare-button-brand-primary) !important;
}



.facet-filter-header {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 0px;
    // color: var(--datashare-button-brand-primary);
}

.facet-filter .fas {
    // color: var(--datashare-button-brand-primary);
}

i.fas.fa-lock {
    // color: var(--datashare-button-brand-primary);
}

.position-relative {
    border-bottom: none;
}

.modal-body h5 {
    border-bottom: none;
}

.text-secondary h3 {
    border-bottom: none;
}

// fixing/replacing full item page table for divs
.div-table-body {
    vertical-align: middle;
    border-color: inherit;
    color: #343a40;
}

.div-table-body .div-table-row:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.div-table-row {
    width: 100%;
    display: table;
}

.div-table-column {
    display: table-cell;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: 33.3%;
}

.div-table-column.div-table-language {
    text-align: right;
    padding-right: 4rem;
}

// fixing statistics page heading levels
.statistics-header {
    font-size: 2rem;
}

.m-1 h2 {
    font-size: 1.75rem;
}

.div-table-stats-column-1 {
    display: table-cell;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: 75%;
}

.div-table-stats-clolumn-1-bold {
    font-weight: bold;
}

.div-table-stats-column-2 {
    display: table-cell;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: 25%;

    font-size: 1rem;
    line-height: 1.5;
    color: #343a40;
}

.div-table-stats-clolumn-2-bold {
    font-weight: bold;
}

.card-title {
    font-size: 1.5rem;
}

.facet-filter-header {
    font-size: 1.1rem;
    margin: auto !important;
    display: inline-block !important;
}

.setting-option h3 {
    font-size: 1.1rem !important;
}

// DATASHARE - start

// The fa-circle class was appearing too big in the treeview. This is a fix for that.
.dropdown .fa-2x,
.dropup .fa-2x {
    font-size: 1.5em !important;
}

// Overwritting scss in src/styles/_truncatable-part.component.scss
@for $i from 1 through 15 {

    .clamp-default-#{$i} .content,
    :focus .clamp-default-#{$i} .content,
    .ds-hover .clamp-default-#{$i} .content {
        max-height: #{$i * 20}rem !important;
    }
}

/* Fix abstract field line breaks */
ds-item-page-abstract-field .simple-view-element-body .preserve-line-breaks {
    white-space: normal !important;
    word-wrap: break-word;
    line-height: 1.6;
}

ds-item-page-abstract-field .simple-view-element-body .dont-break-out {
    word-break: normal !important;
    overflow-wrap: normal !important;
}

/* Adds border to tag input (by dfault borderless). */
.tag-input {
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
}

/* Hides the contributor CONCAT_GROUP field in submission form */
#dc_contributor_CONCAT_GROUP,
#label_dc_contributor_CONCAT_GROUP {
    opacity: 0;
}

// DATASHARE - end