// Override or add CSS variables for your theme here

:root {
  //--ds-header-logo-height: 80px;
  //--ds-header-logo-height-xs: 50px;
  //--ds-header-icon-color: #{$link-color};
  //--ds-header-icon-color-hover: #{darken($link-color, 15%)};
  --ds-header-icon-color: #fff;
  --ds-header-icon-color-hover: #fff;
  --datashare-blue-university: #{$blue-university};
  // REDESIGN- changes
  --bs-font-family-sans-serif: #{$font-family-sans-serif};
  --datashare-body-bg: #{$body-bg};
  --datashare-body-color: #{$body-color};
  --datashare-blue-muted: #{$blue-muted};
  --datashare-gray-800: #{$gray-800};
  --datashare-button-brand-primary-color: #{$brand-button-primary-color};
  --datashare-button-brand-primary-bg: #{$brand-button-primary-bg};
  --datashare-button-brand-primary-border: #{$brand-button-primary-border};
  --datashare-brand-button-primary-hover-active-bg: #{$brand-button-primary-hover-active-bg};
  --datashare-brand-button-primary-hover-active-border: #{$brand-button-primary-hover-active-border};
  --datashare-brand-button-primary-focus-bg: #{$brand-button-primary-focus-bg};
  --datashare-brand-button-primary-focus-border: #{$brand-button-primary-focus-border};
}


