<div class="d-flex flex-row">
    <a *ngIf="linkType !== linkTypes.None" [target]="(linkType === linkTypes.ExternalLink) ? '_blank' : '_self'" [attr.rel]="(linkType === linkTypes.ExternalLink) ? 'noopener noreferrer' : null" [routerLink]="[]" [queryParams]="queryParams$ | async" [queryParamsHandling]="'merge'" class="lead" role="link" tabindex="0">
        {{object.value}}
    </a>
    <span *ngIf="linkType === linkTypes.None" class="lead">
        {{object.value}}
    </span>
    <!-- DATASHARE - start -->
     <!-- Added my-2 -->
    <span class="my-2 pr-2">&nbsp;</span>
    <!-- badge-pill change to badge-info -->
    <span class="badge badge-info badge-secondary align-self-center">{{object.count}}</span>
    <!-- DATASHARE - end -->
</div>
