a.download-zip,
a.download-zip:hover,
a.download-zip:focus,
a.download-zip:active,
a.download-zip:visited {
    text-decoration: none;
    border-bottom: none;
    -webkit-tap-highlight-color: white;
    
    
}
