:host {
    ::ng-deep {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 span {
            border-bottom: solid 3px !important;
            margin-top: 2rem !important;
            margin-bottom: 1.5rem !important;
        }
    }
}