@import '../../../styles/_global-styles.scss';

:host {
    .auth-nav-menu-login.btn {
        background-color: #fff !important;
        color: #004f71 !important;
        border-color: #004f71 !important;

        &:hover, &:focus {
            background-color: #004f71 !important;
            color: #fff !important;
            border-color: #fff !important;
        }
    }

    .dropdownLogout.btn {
        background-color: transparent !important;
    }

    .auth-nav-menu-login.dropdown-toggle::after,
    .dropdownLogout.dropdown-toggle::after {
        margin-left: 0;
        display: none !important;
    }

    .fa-user-circle {
        background-color: transparent !important;
    }

    .fa-lg {
        font-size: 1.75rem !important;
    }
}